<!--------for name textboxes-------->
<div>
    <h2>
        Full Name *
    </h2>

        <div>
            <input #first type="text" placeholder="First name">
            <input #last type="text" placeholder="Last name">
        </div>
</div>


<!---For email textbox-->
<div>

    <h2>
        Email
    </h2>
    <input #email type="text" placeholder="ex:email@yahoo.com"> 

</div>

<!---Buttons-->
<div>
    <button (click)="getValueFN(first.value);getValueLN(last.value);getValueEM(email.value)" >
        Submit
    </button>
    
    <button (click) = "first.value = ''; last.value=''; email.value=''">Clear Form</button>
</div>





  