<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div style="text-align:justify;">
  <h1>
    Sophic Assessment Q3
  </h1>
</div>

<div style="text-align: left;">
  <app-fl-name></app-fl-name>
</div>
<router-outlet></router-outlet>
